UnityPersistGame/Library
UnityPersistGame/Temp
UnityPersistGame/*.sln
UnityPersistGame/*.csproj
UnityPersistGame/*.suo
UnityPersistGame/*.userprefs


.DS_STORE
npm-debug.log
/Node/node_modules
/Node/config.sh
